{% extends 'base.html' %}

{% block content %}

<h2>Login</h2>
Users must log in before posting
<form action="/login" method='post'>
    <table> <tr>
        <td>
            <label> Username </label>
                
        </td>
        <td>
            <input type="text" name="username">
                
        </td>
        <td>
            {{userError}}
        </td>
    </tr>
    <tr>
        <td>
            <label> 
                Password 

            </label>
        </td>
        <td>
            <input type="password" name="password">
                
        </td>
        <td>
            {{passwordError}}
        
        </td>
    </tr>
    </table>
    <input type="submit" name="submit">
</form>
<p>
New to the site? <a href="/signup"> Create An Account </a>
</p>
{% endblock %}